
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming


@use 'bootstrap/scss/bootstrap';

@use '@angular/material' as mat;

@use '../public/orion-theme.css';

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.card-overrides((
    elevated-container-color: white,
    elevated-container-elevation: black,
  ));
}




:root{
  --page-width: 90%;
  --page-desktop-height: 100%;
  --top-bar-desktop-height: 95px;
  --rayon: var(--mat-sys-corner-small);
  --topic-box-width: 380px;
  --topic-box-height: 161px;

  --bg-color-white: #FFFFFF;
  --bg-color-grey: #F5F5F5;
  --btn-color-purple: #b2a5e2;// #7763C5;
  --btn-color-white: #FFFFFF;
  --btn-color-grey: #939393;
  --error-color: red;
  --disconnect-color: darkred;
  --text-color-black: black;
  --text-color-white: white;
  --border-color: #000000;
  --border-color-white: white;
}



/*
html {

  @include mat.theme((
    color: (
      //primary: #939393, 
      //tertiary: #7763C5,
      primary: mat.$magenta-palette,
      
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  
}
*/

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  //color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  //background-color: #FFFFFF;//var(--mat-sys-surface);
  //color: var(--mat-sys-on-surface);
  //font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

/*-------------------------------------------------------------------------------------------------*/
//                  COMMON
/*-------------------------------------------------------------------------------------------------*/

html, body { 
  height: 100%;
  width: 100%;
  margin: 0; 
  //font-family: Roboto, "Helvetica Neue", sans-serif; 
  
  //display: flex;
  //justify-content: center; // horizontal 
  //align-items: center;     // vertical 
}


hr {
  width: var(--page-width);
}

h1{
  margin: 20px;
  text-align: center;
}

h2{
  width: 100%;
  margin-top: 6px;
  margin-left: 2px;
  padding-left: 2px;
  text-align: left;
  font-size: 19px;
  font-weight: 600;
  //border: 1px solid var(--border-color);
}

h3{
  width: 100%;
  margin-top: 6px;
  margin-left: 20px;
  padding-left: 20px;
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  //border: 1px solid var(--border-color);
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;

  font: var(--mat-sys-body-medium);

  //justify-content: right;
  //align-items: center;
  text-align: left;
  //border: 1px solid var(--border-color);
}

textarea {
  width: 100%;
}

.centred_content_no_margin{ //centred content
  
  margin: 0;
  display: flex;
  justify-content: center; // horizontal
  align-items: center;     // vertical
  //border: 1px solid #000000;
}

.extended{
  width: 100%;
  height: 100%;
  //border: 1px solid #000000;
}
.extended80{
  width: 75%;
  height: 100%;
  //border: 1px solid #000000;
}
.extended20{
  width: 15%;
  height: 100%;
  margin: 4%;
 
  //border: 1px solid #000000;
}

/*----------------------HEADER------------------------*/
.long_top_bar_desktop{
  width: 100%;
  height: var(--top-bar-desktop-height);
  display: flex;
  justify-content: center; // horizontal
  padding: 0px;
  margin: 0px;
}
.top_bar_logo{
  height: var(--top-bar-desktop-height);
  display: flex;
  padding: 0px;
  margin: 0px;
  border: 0px solid var(--border-color);
}
.top_bar_desktop { //rectangle9  rectangle31 rectagle42
  width: var(--page-width);
  height: var(--top-bar-desktop-height);
  display: flex;
  padding: 0px;
  margin: 0px;
  border: 1px solid var(--border-color);
}
.top_bar_right_part { //rectangle9  rectangle31 rectagle42
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 100%;
  justify-content: right; // horizontal 
  align-items: center;     // vertical   
}
.top_bar_internal_right_part{
  margin: 5px;
  padding: 5px;
}

.disconnect{
  cursor: pointer;
  color: var(--disconnect-color);
}
.account_circle{
  border-width: 2px;
  color: var(--border-color);
}
.account_circle_me{
  border-width: 2px;
  color: var(--btn-color-purple);
}
.active_link{
  font-weight: 500;
  text-decoration: none;
  color: var(--btn-color-purple);
}
.inactive_link{
  font-weight: normal;
  text-decoration: none;
  color: var(--text-color-black);
}



/*

                  FORM

*/
.form_box{ //title textboxes button

  width: var(--page-width);
  margin: 30px;
  display: block;
  justify-content: center; // horizontal
  align-items: center;     // vertical 
  //border: 1px solid black;
  //background-color: white;
}

.form_box_col{
  margin: 5px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; // horizontal
  align-items: center;     // vertical
  
}

.form_text_box{
  width: 350px;
}

.error{
  color: var(--error-color);
}

.left_arrow{//class
  position: absolute;
  top: 0px;
  left:0px;
  //border: 1px solid blue;
}

/*--------------------BUTTONS---------------------------------*/

.landing-custom-btn.mat-mdc-raised-button,
.landing-custom-btn.mat-mdc-outlined-button,
.landing-custom-btn.mat-mdc-unelevated-button {
  border-radius: var(--rayon);
  padding: 26px;
  background-color: var(--error-color-white);
}

.custom-btn.mat-mdc-raised-button,
.custom-btn.mat-mdc-outlined-button,
.custom-btn.mat-mdc-unelevated-button {
  border-radius: var(--rayon);
  padding: 26px;
  background-color: var(--btn-color-purple); 
  color: var(--text-color-white);
  margin-bottom: 10px;
}

.custom-btn-grey.mat-mdc-raised-button,
.custom-btn-grey.mat-mdc-outlined-button,
.custom-btn-grey.mat-mdc-unelevated-button {
  border-radius: var(--rayon);
  padding: 6px;
  background: var(--btn-color-grey); 
}

#sendcomment{
  transform: scale(2) rotate(-30deg);
}

.hand{
  cursor: pointer; //pointer default hand
  color: var(--text-color-purple);
}

/*#send :hover{
  border: 1px;
  cursor: hand; //pointer default
}
#send :focus{
  cursor: default;
}
*/

/*

                  PAGES

*/


/*--------------------LANDING ------------------------*/
.landing-top {
  display: flex;
  width: 85%;
  height: 50%;
  justify-content: center; // horizontal
  align-items: center;     // vertical 
  //border: 1px solid black;

}
.landing-bottom {
  display: flex;
  justify-content: space-between; //horizontal
  align-items: center;
  width: 85%;
  //border: 1px solid blue;
}
.landing-bottom-right {
  justify-content: right; 
  margin-right:15%;
}
.landing-bottom-left {
  justify-content: left;
  margin-left:15%; 
}


/*--------------------------LOGIN-----------------------*/
#login_page{//id
  width: var(--page-width);
  height: var(--page-desktop-height);
  display: flex;
  justify-content: center; // horizontal
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  position: relative;
  
}


/*--------------------------ME-----------------------*/
#me_page{//id
  width: var(--page-width);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  margin-left: auto;
  margin-right: auto;
}

.me{
  display: block;
}

/*----------------------DISPLAY-:-topic-&-article-----------------------------*/
#display_page{
  width: var(--page-width);
  height: var(--page-desktop-height);
  display: block;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.display_grid_old {
  width: 100%;
  height: 100%;;
  display: grid;
  grid-template-rows:190px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 0px;
  margin: 0px;
  border: 1px solid #000000
}

.display_col { 
  width: 100%;
  display: block;
  padding: 0px;
  margin: 0px;
  border-radius: var(--rayon);
  //border: 1px solid #000000
}

.display_cell { 
  //width: var(--topic-box-width);
  //height: var(--topic-box-height);
  border-radius: var(--rayon);
  background: var(--bg-color-grey);
  padding: 3x;
  margin: 3px;
  //border: 1px solid #000000;
}

.display_cell_in_col { 
  width: 100%;
  height: 100%;
  border-radius: var(--rayon);
  background: var(--bg-color-grey);
  padding: 2px;
  margin: 2px;
  //border: 1px solid #000000;
  //justify-content: right;
  //align-items: center;
}

#clickable :hover{
  border: 1px solid #000000;
  cursor: hand;
}

#cell :hover{
  border: 0px;
}

.custom_card{
  display: flex;
}

.article_top{
  display: flex;
  justify-content: space-between; //horizontal
  align-items: top;
  width: 85%; 
  margin-top: 10px;
  padding: 6px;
  //border: 1px solid #000000;
}

.article_top_left{
  justify-content: left;
  align-items: top;
  margin-top: 0px;
  font-size: normal;
  //border: 1px solid #000000;
}

.article_top_right{
  justify-content: right;
  align-items: center;
  margin-top: 0px;
  font-size: normal;
  //border: 1px solid #000000;
}

.article_title{
  justify-content: left;
  align-items: top;
  margin-top: 0px;
  font-size: large;
  font-weight: 700;
  //border: 1px solid #000000;
}
.article_username{
  justify-content: left;
  align-items: top;
  margin-top: 0px;
  font-size: normal;
  //border: 1px solid #000000;
}

.article_date{
  justify-content: right;
  align-items: center;
  margin-top: 0px;
  font-size: normal;
  //border: 1px solid #000000;
}

.article_content{
  justify-content: left;
  align-items: top;
  margin-top: 5px;
  font-size: normal;
  font-weight: normal;
  //border: 1px solid #000000;
}

#btn-sort:hover{
  background-color: var(--bg-color-grey);
  border: 1px solid var(--text-color-black);
  border-radius: var(--rayon);
}

#btn-sort:active{
  border: 1px solid var(--text-color-black);
  border-radius: var(--rayon);
}











.btn-primary-white {
  background-color: var(--btn-color-white); 
  border-color: var(--border-color);
  color: var(--text-color-black);
  margin-bottom: 20px;
}

.btn-primary-white:hover {
  background-color: var(--btn-color-purple); 
  border-color: var(--border-color);
  color: var(--text-color-white);
  margin-bottom: 20px;
}

.btn-primary-grey {
  background-color: var(--btn-color-grey); 
  border-color: var(--border-color-white);
  color: var(--text-color-white);
  margin-bottom: 20px;
}

.btn-primary-custom {
  background-color: var(--btn-color-purple); 
  border-color: var(--border-color-white);
  color: var(--text-color-white);
  margin-bottom: 20px;
}

.btn-primary-custom:hover {
  background-color: var(--btn-color-white); 
  border-color: var(--border-color);
  color: var(--text-color-black);
  margin-bottom: 20px;
}



.my-mat-mdc-card {
  border-style:none;
}

.mat-mdc-card-outlined{
  border-style: none;
}
