
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import '../public/orion-theme.css';

:root{
  --page-width: 75%;
  --page-desktop-height: 100%;
  --top-bar-desktop-width: 95px;
  --rayon: var(--mat-sys-corner-small);
  --topic-box-width: 385px;
  --topic-box-height: 161px;

  --bg-color-white: #FFFFFF;
  --bg-color-grey: #F5F5F5;
  --btn-color-purple: #7763C5;
  --btn-color-white: #FFFFFF;
  --btn-color-grey: #939393;
  --error-color: red;
  --disconnect-color: darkred;
  --text-color: black;
  --border-color: #000000;

}
/*
html {

  @include mat.theme((
    color: (
      //primary: #939393, 
      //tertiary: #7763C5,
      primary: mat.$magenta-palette,
      
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  
}
*/

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: #FFFFFF;//var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

/*-------------------------------------------------------------------------------------------------*/
//                  COMMON
/*-------------------------------------------------------------------------------------------------*/

html, body { 
  height: 100%;
  width: 100%;
  margin: 0; 
  //font-family: Roboto, "Helvetica Neue", sans-serif; 
  
  //display: flex;
  //justify-content: center; // horizontal 
  //align-items: center;     // vertical 
}
.centred_content_no_margin{ //centred content
  margin: 0;
  display: flex;
  justify-content: center; // horizontal
  align-items: center;     // vertical
}

.mat-mdc-card{
  background-color: yellow;
} 
.mdc-card{
  background-color: red; //var(--bg-color-white);
  //border: 1px solid black; //var(--bg-color-white);
}


/*----------------------HEADER------------------------*/
.long_top_bar_desktop{
  width: 100%;
  height: var(--top-bar-desktop-width);
  display: flex;
  justify-content: center; // horizontal
  padding: 0px;
  margin: 0px;
  //background: #ffffff;
}
.top_bar_desktop { //rectangle9  rectangle31 rectagle42
  width: var(--page-width);
  height: var(--top-bar-desktop-width);
  //background: #ffffff;
  display: flex;
  padding: 0px;
  margin: 0px;
  border: 1px solid var(--border-color);
}
.top_bar_right_part { //rectangle9  rectangle31 rectagle42
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 100%;
  justify-content: right; // horizontal 
  align-items: center;     // vertical   
}
.top_bar_internal_right_part{
  margin: 5px;
  padding: 5px;
}
.disconnect{
  color: darkred;
}
.account_circle{
  border-width: 2px;
  color: black;

  //border-color: black;
  //background-color: #7763C5;
  //border: 1px solid black;
}
.account_circle_me{
  border-width: 2px;
  color: #7763C5;

  //border-color: black;
  //background-color: #7763C5;
  //border: 1px solid black;
}
/*

                  FORM

*/

.form_box{ //title textboxes button
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center; // horizontal
  align-items: center;     // vertical 
}

.form_text_box{
  width: 350px;
}

hr {
  width: var(--page-width);
}

h1{
  margin: 20px;
  text-align: center;
}
.error{
  color: var(--error-color);
}

.left_arrow{//class
  position: absolute;
  top: 0px;
  left:0px;
  //border: 1px solid blue;
}



/*--------------------BUTTONS---------------------------------*/

.landing-custom-btn.mat-mdc-raised-button,
.landing-custom-btn.mat-mdc-outlined-button,
.landing-custom-btn.mat-mdc-unelevated-button {
  border-radius: var(--rayon);
  padding: 6px;
  background-color: var(--btn-color-white);
  color: var(--text-color);
}

.custom-btn.mat-mdc-raised-button,
.custom-btn.mat-mdc-outlined-button,
.custom-btn.mat-mdc-unelevated-button {
  border-radius: var(--rayon);
  padding: 6px;
  background: var(--btn-color-purple); 
}

.custom-btn-grey.mat-mdc-raised-button,
.custom-btn-grey.mat-mdc-outlined-button,
.custom-btn-grey.mat-mdc-unelevated-button {
  border-radius: var(--rayon);
  padding: 6px;
  background: var(--btn-color-grey); 
}


/*

                  PAGES

*/


/*--------------------LANDING ------------------------*/
.landing-top {
  display: flex;
  width: 85%;
  height: 50%;
  justify-content: center; // horizontal
  align-items: center;     // vertical 
  //border: 1px solid black;

}
.landing-bottom {
  display: flex;
  justify-content: space-between; //horizontal
  align-items: center;
  width: 85%;
  //border: 1px solid blue;
}
.landing-bottom-right {
  justify-content: right; 
  margin-right:15%;
}
.landing-bottom-left {
  justify-content: left;
  margin-left:15%; 
}


/*--------------------------LOGIN-----------------------*/
#login_page{//id
  width: var(--page-width);
  height: var(--page-desktop-height);
  display: flex;
  justify-content: center; // horizontal
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  position: relative;
}

.login{
  display: flex;
}

/*--------------------------ME-----------------------*/
#me_page{//id
  width: var(--page-width);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  margin-left: auto;
  margin-right: auto;
}

.me{
  display: block;
}

/*----------------------TOPIC-----------------------------*/
#topic_page{//id
  width: var(--page-width);
  height: var(--page-desktop-height);
  display: block;
  //border: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  margin-left: auto;
  margin-right: auto;
}

.topic_grid { //rectangle34
  width: 100%;
  display: grid;
  grid-template-rows:190px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 0px;
  margin: 0px;
  //border: 1px solid #000000
}

.topic_cell { //rectangle43
  width: var(--topic-box-width);
  height: var(--topic-box-height);
  border-radius: var(--rayon);
  background: var(--bg-color-grey);
  padding: 6px;
  margin: 6px;
  //border: 1px solid #000000
}
