
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      //primary: #939393, 
      //tertiary: #7763C5,
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page{ //centred content
  margin: 0;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}


/*--------------------LANDING ------------------------*/
.landing-top {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */  
}
.landing-bottom {
  display: flex;
  justify-content: space-between; /* horizontal */
  align-items: center;
  align-items: top;     /* vertical */  
  width: 50%;
  margin: 0 auto; //horizontal middle
}

.landing-bottom-right {
  justify-content: right; 
}
.landing-bottom-left {
  justify-content: left; 
}
.landing-custom-btn.mat-mdc-raised-button,
.landing-custom-btn.mat-mdc-outlined-button,
.landing-custom-btn.mat-mdc-unelevated-button {
  border-radius: 8px;
  padding: 6px;
}

/*----------------------Login------------------*/


.login-custom-btn.mat-mdc-raised-button,
.login-custom-btn.mat-mdc-outlined-button,
.login-custom-btn.mat-mdc-unelevated-button {
  border-radius: 8px;
  background: #7763C5;
}

/*----------------------Topic-----------------------------*/
.bigGrid { //rectangle34
  width: 835px;
  height: 584px;
  background: #ffffff;
  display: grid;
  grid-template-rows:190px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 16px;
  border: 1px solid #000000
}

.gridCell { //rectangle43
  width: 392px;
  height: 161px;
  border-radius: 8px;
  background: #F5F5F5;
  padding: 6px;
  border: 1px solid #000000
}

.custom-btn.mat-mdc-raised-button,
.custom-btn.mat-mdc-outlined-button,
.custom-btn.mat-mdc-unelevated-button {
  border-radius: 8px;
  background: #7763C5;
}


